<md-card class="card">
  <md-card-title>Sobre</md-card-title>
  <md-card-content class="content">
    <div>
      Aplicativo de visualização de dados da estação solarimétrica criada na Faculdade de Engenharia Elétrica e de Computação, da
      Universidade Estadual de Campinas. Desenvolvido por Enrico Oliveira Rocheti, aluno de Engenharia Elétrica pela UNICAMP, 
      com orientação do professor Marcelo Gradella Villalva.
    </div>
    <div>&nbsp;</div>
    <div>
      Encontrou algum erro? Tem alguma dúvida ou sugestão de melhoria? Envie um e-mail para
      <a class="link" href="mailto:enricorocheti@gmail.com?Subject=Esta%C3%A7%C3%A3o%20Solarim%C3%A9trica"
        target="_top">
        enricorocheti@gmail.com</a>.
    </div>
  </md-card-content>
</md-card>