.input100 {
  width: 96%;
}

.input50 {
  width: 48%;
}

.title{
    font-size: 19px;
    font-weight: 400;
}

.divider {
  width: 98%; 
  margin-left: 1%;
}

.helpCard {
  text-align:justify;
  padding-left: 16px;
  padding-right: 16px;
  font-size:15px;
}

.helpCardAction {
  text-align: right;
}

.link {
  color:#1976d2;
  text-decoration:none;
}

.buttonHelp {
  float:right;
}